.passwordShower {

    width: 100%;
    height: 6vh;
    margin-top: 2vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

}

/* Botão */
.passwordShowerButton {

    position: relative;
    text-align: center;
    width: 10%;
    cursor: pointer;

    border: solid 2px var(--color2bg);
    border-radius: 10px;
    transition-duration: 0.3s;

}
.passwordShowerButton > img {

    height: 65%;
    max-width: 100%;

}

.passwordShowerButton:hover {

    background-color: var(--color3bg);

}

/* texto */
.passwordShowerText {

    width: 85%;

    font-family: var(--font1text);
    color: var(--color2bg);
    font-weight: bold;
    text-align: left;

}