/* Div that holds a input */
.input-holder {

    margin-top: 2vh;
    width: 100%;

}
.input-holder > input {

    width: 100%;
    
    line-height: 300%;
    text-align: center;
    font-family: var(--font1text);
    background-color: var(--color2bg);
    border: solid 1px var(--color3bg);
    color: var(--color1text);

}



/* Elements that need exclusive adjustments for smaller screens */
@media (max-width: 768px){

    .input-holder > input {
    
        line-height: 350%;

    }

}