/* Div that holds the main interface layout */
.interfaceHolder {

    width: 70%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;

}